* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #252525;
  color: #ffffff;
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-item {
  list-style: none;
  margin: 1em;
}

.nav-link {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 4px 0;
}

.nav-link::before,
.nav-link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #6149e1;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav-link:hover::before,
.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-link::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.showcase.active {
  right: 300px;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 700;
  line-height: 1.5em;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 500px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background-color: white;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  letter-spacing: 2px;
}

.text a:hover {
  -webkit-transform: translateX(4px) translateY(-2px);
          transform: translateX(4px) translateY(-2px);
}

.toggle {
  position: fixed;
  right: 1em;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(img/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 20px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.5S;
  transition: 0.5S;
}

.social li a:hover {
  -webkit-transform: scale(0.5) translateY(-15px);
          transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu ul {
  position: relative;
  list-style: none;
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin-top: 13em; */
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #000000;
}

.menu ul li a:hover {
  color: #6149e1;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form {
  background-color: #6149e1;
  padding: 2em;
}

.contact-form input,
.contact-form textarea {
  border: none;
  background-color: #3b3c47;
  border-bottom: 3px solid #ffffff;
  width: 37em;
  height: 3em;
  color: #ffffff;
  padding-left: 1em;
}

.contact-form textarea {
  padding-top: 1em;
  height: 5em;
}

.c-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.contact-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #362885;
}

.contact-p {
  padding: 2em;
  text-align: center;
  width: 21em;
}

.img-contact {
  width: 20em;
  text-align: center;
  width: 21em;
}

.txtb {
  margin: 19px;
}

.focus {
  font-weight: 800;
  color: #ff3234;
}

.send-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1em;
}

.btn {
  background-color: #6149e1;
  padding: 1.3em 4em;
  border: none;
  font-size: 1em;
  background-color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  background-color: #362885;
  color: #ffffff;
}

.pr {
  background-color: rgba(255, 222, 173, 0);
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 100000;
  overflow: hidden;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal #modal-content {
  background-color: #362885;
  color: white;
  border-radius: 10px;
}

#modal #modal-content #close {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  background: #6149e1;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}

#modal #modal-content p {
  padding: 2rem;
}

#modal #modal-content p span {
  font-weight: 600;
}
/*# sourceMappingURL=contact.css.map */